@charset "UTF-8";
/**** color ****/
/* Gradient */
/**** Degree Gradient ****/
/**** width ****/
/* Loading spinner animation delay */
/**** Responsive ****/
/**** cercle ****/
/**** Shadow ****/
/**** gradient ****/
/**** Responsive ****/
/* Loading */

.fade-in {
  transform-origin: top;
  animation: fade-in 2s forwards;
}
.fade-in--1delay {
  animation: fade-in 2s 500ms both;
}
.fade-in--2delay {
  animation: fade-in 2s 1000ms both;
}

/* Heart fill */
@keyframes heart-fill {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  15% {
    opacity: 0.25;
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  95% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/**** font weight ****/
/**** set-logo ****/
/**** title d'en tête ****/
.hero__btngradient {
  width: 218px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  cursor: pointer;
  margin: 27px 75px 57px 82px;
  transition: opacity 300ms ease-in-out;
}
.hero__btngradient:hover {
  opacity: 0.88;
  box-shadow: 0 4px 10px 0 #afafaf;
}
.hero__btngradient--long {
  width: 50%;
  min-width: 150px;
  max-width: 250px;
}

.button__like {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}
.button__like:hover::after {
  z-index: 1;
  animation: heart-fill 900ms forwards cubic-bezier(0.65, 1.01, 0.98, 1.06);
}
.button__like::after {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: #ffffffc9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.5s ease-out;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}
.loader-item {
  border: 10px solid #ff4517;
  border-top: 10px solid #ff0000;
  border-bottom: 10px solid #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.2s linear infinite;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  99% {
    z-index: 1000;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.body {
  width: 100%;
  margin: auto;
}

.header {
  padding: 2%;
}
.header__logo {
  margin: 0;
  text-align: center;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
}
.header__withorrow {
  position: relative;
}
.header__goback {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  width: 20px;
  height: 20px;
  top: 35%;
  font-size: 20px;
}
@media all and (min-width: 1024px) {
  .header__goback {
    font-size: 32px;
  }
}

.footer {
  width: 100%;
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
}
@media all and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }
}
.footer p {
  margin: 5px 0;
}
.footer__logo {
  margin: 0 0 16px 0;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
@media all and (min-width: 1024px) {
  .footer__logo {
    width: 137px;
    margin: 0;
  }
}
@media all and (min-width: 768px) {
  .footer__logo {
    width: 137px;
    margin: 0;
  }
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 768px) {
  .footer__bloc {
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 7px;
}
@media all and (min-width: 768px) {
  .footer__nav {
    width: 190px;
  }
}
.footer__nav--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}
@media all and (min-width: 768px) {
  .footer__nav--info p {
    width: 130px;
    height: 20px;
  }
}

.info__location {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: inset 0 10px 8px -5px #d5d5d5;
  gap: 17px;
}

.info__icon {
  display: flex;
  align-items: center;
}

.info__form {
  position: relative;
  display: flex;
  align-items: center;
  width: 109px;
}
.info__form .info__city {
  border: transparent;
  background-color: #EAEAEA;
}
.info__form .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #353535;
  pointer-events: none;
}
.info__form .info__city:focus + .placeholder {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: whitesmoke;
  text-align: center;
}
.hero__title {
  width: 70%;
  margin: 10px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}
.hero p {
  width: 85%;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.functioning {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.functioning__title {
  margin: 10px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}
.functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
@media all and (min-width: 1024px) {
  .functioning__list {
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.functioning__step {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  gap: 4%;
  background-color: #f6f6f6;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
@media all and (min-width: 1024px) {
  .functioning__step {
    width: 30%;
  }
}

.functioning__step--number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -19px;
  bottom: -5px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
  padding: 1%;
}
.functioning__step--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 25px;
  color: #7E7E7E;
}
.functioning__step--subtitle {
  width: 211px;
  height: 15px;
  font-weight: 600;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: #F6F6F6;
}
.restaurant__title {
  width: 90%;
  margin: 20px auto;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
}
.restaurant__bloc {
  width: 90%;
  margin: auto;
}
@media all and (min-width: 768px) {
  .restaurant__bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #d5d5d5;
}
@media all and (min-width: 768px) {
  .restaurant__cards {
    width: 48%;
    margin: 0;
    margin-bottom: 4%;
  }
}
.restaurant__cards--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__cards--img img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__cards--img--markerinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
}
.restaurant__cards--info {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
  padding: 15px;
}
.restaurant__cards--info--text {
  width: 90%;
}
.restaurant__cards--info h4, .restaurant__cards--info p {
  margin: 0;
}
.restaurant__cards--info h4 {
  width: 267px;
  height: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
.restaurant__cards--info p {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
}
.restaurant__cards--like {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.page__restaurant--img {
  position: relative;
  width: 100%;
  height: 250px;
}
@media all and (min-width: 1024px) {
  .page__restaurant--img {
    height: 400px;
  }
}
.page__restaurant--img img {
  width: 100%;
  height: 107%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slight {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
  z-index: 0;
}
@media all and (min-width: 1024px) {
  .slight {
    max-width: 1024px;
    margin: auto;
  }
}
.slight__heading {
  display: flex;
  align-items: center;
  margin: auto;
}
@media all and (min-width: 768px) {
  .slight__heading {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
@media all and (min-width: 1024px) {
  .slight__heading {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
.slight__heading h2 {
  width: 87%;
  font-size: 27px;
  font-family: "Shrikhand", cursive;
}
@media all and (min-width: 1024px) {
  .slight__heading h2 {
    display: flex;
    font-size: 40px;
    width: 95%;
  }
}
@media all and (min-width: 768px) {
  .slight__heading h2 {
    display: flex;
    font-size: 35px;
    width: 95%;
  }
}
@media all and (min-width: 1024px) {
  .slight__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.slight__orderbtn {
  display: flex;
  justify-content: center;
}

.race-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media all and (min-width: 768px) {
  .race-list {
    width: 100%;
  }
}
.race-list__heading {
  position: relative;
  margin: 4% 0% 2% 0%;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media all and (min-width: 1024px) {
  .race-list__heading {
    font-size: 22px;
  }
}
.race-list__heading::after {
  display: block;
  position: absolute;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}

.race-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  overflow: hidden;
  cursor: pointer;
}
.race-cards:hover > .race-cards__checkout {
  margin-right: 0px;
}
.race-cards:hover > .race-cards__checkout::after {
  transform: rotate(360deg);
}
.race-cards__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.race-cards__description h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__description p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__price {
  display: flex;
  align-items: flex-end;
  width: 15%;
  padding: 5px;
}
.race-cards__price p {
  margin: 0;
  font-weight: 500;
}
.race-cards__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}
.race-cards__checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}/*# sourceMappingURL=style.css.map */