//* Info location *//

.info__location {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: darken($white, 8%);
    box-shadow: inset 0 10px 8px -5px $shadow;
    gap: 17px;
}

.info__icon {
    display: flex;
    align-items: center;
}

.info__form {
    position: relative;
    display: flex;
    align-items: center;
    width: 109px;

    .info__city {
        border: transparent;
        background-color: $grey;
    }

    .placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $black;
        pointer-events: none;
    }
    .info__city:focus + .placeholder {
        display: none;
    }
}

//* Hero *//

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    background-color: darken($white, 4%);
    text-align: center;

    &__title {
        width: 70%;
        margin: 10px 0;
        @include title__heading;
    }

    & p {
        width: 85%;
        margin: 0;
        font-size: 18px;
        font-weight:map-get($font-weight, light);
    }
}

//* Functioning *//

.functioning {
    width: $whiteMobile;
    margin: auto;
    padding: 50px 0;

    &__title {
        margin: 10px 0;
        @include title__heading;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95%;
        padding-bottom: 10px;
        margin: auto;

        @include desktop__responsive {
            width: 98%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.functioning__step {
    display: flex;
    align-items: center;
    height: 72px;
    margin: 15px 0;
    border-radius: 20px;
    border: none; 
    gap: 4%;
    background-color: darken($LightGray, 0);
    @include object-shadow;

    @include desktop__responsive {
        width: 30%;
    }

    &:hover {
        background-color: lighten($color-primary, 35%);
        @include object-shadow(darken($shadow, 10%));

        &>.functioning__step--icon {
            color: $color-primary;
        }
    }
    
    &--number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: -19px;
        bottom: -5px;
        height: 24px;
        width: 24px;
        @include circle;
        color: $white;
        background-color: $color-primary;
        padding: 1%;
    }
        
    &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 25px;
        color: $icon;
    }

    &--subtitle {
        width: 211px;
        height: 15px;
        font-weight: 600;
    }
}

//* rsetaurant *//
.restaurant {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:20px 0 66px 0;
    background-color: $LightGray;

    &__title {
        width: $whiteMobile;
        margin: 20px auto;
        @include title__heading;
    }

    &__bloc {
        width: $whiteMobile;
        margin: auto;
        @include desktop__responsive;

        @include table__responsive {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.restaurant__cards {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 251px;
    margin: auto ;
    margin-bottom: 18px;
    border-radius: 15px;
    background-color: $white;
    @include object-shadow;
    @include desktop__responsive;
    

    @include table__responsive {
        width: 48%;
        margin: 0;
        margin-bottom: 4%;
    }

    &:hover {
        @include object-shadow(darken($shadow, 10%))
    }

    &--img {
        position: relative;
        overflow: hidden;
        height: 175px;
        border-radius: 15px 15px 0px 0px;

        & img {
            width: 75%;
            height: 175px;
            object-fit: cover;
        }

        &--markerinfo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 12px;
            width: 80px;
            height: 30px;
            border-radius: 2px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-weight: map-get($font-weight, medium);
        }
    }

    &--info {
        display: flex;
        align-items: flex-start;
        height: auto;
        min-height: 75px;
        padding: 15px;

        &--text {
            width: 90%;
        }

        & h4, p {
            margin: 0;
        }
        
        & h4 {
            width: 267px;
            height: 20px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        & p {
            height: 24px;
            font-weight: 300;
            font-size: 17px;
        }
    }

    &--like {
        position: absolute;
        top: 76%;
        right: 7%;
        font-size: 25px;
    }
}